.samirpic{
    align-self: center;
    margin-left: 43%;
}
.himalpic{
    width: 300px;
    height: 250px;
    margin-left: 41%;
}
.ytbutton{
    width: 125px;
    height: 37px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 30px
}
.ytbutton:hover{
    background-color: rgb(225, 0, 0);
}
.ytbutton:active{
    opacity: 0.7;
}
body{
    background-image: linear-gradient(to right, white, gray);
    padding: 20px;   
}
div{
    border-color: Purple;
    border-width: 20px;
    text-align: center;
    margin-top: -28px;
    padding-left: 60px;
    padding: 30px;
    background-color: black;
    border-color: black;
    width: 100%;
    margin-left: -40px;
}
.toptext{
    color: white;
}
.instabutton{
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border-width: 2px;
    border-color: purple;
    background-image: linear-gradient(to right bottom, purple, red, orange, yellow);

}

p{
    font-size: 30px;
}
button:hover{
    cursor: pointer;
}
.instabutton:hover{
    border-color:rgb(196, 0, 196);
    opacity: 0.7;
    transition-duration: 0.4s;
}
.instabutton:active{
    opacity: 0.5;
    transition-duration: 0.1s;
}
.fbbutton{
    width: 180px;
    height: 40px;
    border-radius: 7px;
    background-color: #EBF5FF;
    border: none;
    color: #0064D1;
}
.fbbutton:hover{
    background-color: #dfefff;
    opacity: 0.7;
}